In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv("MovieLensFilteredData/ratingsFiltered.csv")

ratings.shape

(8576228, 3)

In [3]:
ratings.head(5)

   userId  movieId  rating
0       4        1     4.0
1       4        2     4.0
2       4        5     2.0
3       4        6     4.5
4       4       10     4.0

# Create user csv

In [4]:
userDF = pd.DataFrame({"userId":ratings.userId.unique().tolist()})
userDF.head()

   userId
0       4
1      42
2      51
3      56
4      73

In [5]:
userDF.to_csv("MovieLensFilteredData/usersFiltered.csv", index=False)

# Create movie csv

In [6]:
eligibleMovies = ratings.movieId.unique().tolist()

In [7]:
movies = pd.read_csv('MovieLensRawData/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
moviesFiltered = movies.loc[movies.movieId.isin(eligibleMovies)]
moviesFiltered.shape

(1344, 3)

# Merge with links

In [9]:
links = pd.read_csv('MovieLensRawData/links.csv')

links = links.loc[links['movieId'].isin(eligibleMovies)]

links.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
4        5  113041  11862.0
5        6  113277    949.0

In [10]:
links.loc[links['imdbId']==1285016]

       movieId   imdbId   tmdbId
15936    80463  1285016  37799.0

In [11]:
agg = movies.merge(links, on='movieId', how='inner')
agg = agg.drop(columns=['tmdbId'])
agg.head()

,movieId,title,genres,imdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497
2,3,Grumpier Old Men (1995),Comedy|Romance,113228
3,5,Father of the Bride Part II (1995),Comedy,113041
4,6,Heat (1995),Action|Crime|Thriller,113277

In [12]:
agg.shape

(1344, 4)

In [13]:
agg.to_csv('MovieLensFilteredData/moviesFiltered.csv', index=False, header=True)

In [15]:
agg.loc[agg['imdbId']==118114]

,movieId,title,genres,imdbId
223,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,118114