In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('MovieLensFilteredData/ratingsFiltered.csv')

movieId_to_remove = 720

df = df.loc[df['movieId'] != movieId_to_remove]
df.shape

(8572887, 3)

In [3]:
df.userId.unique()

array([     4,     42,     51, ..., 283184, 283195, 283224])

In [4]:
df.to_csv('MovieLensFilteredData/ratingsFiltered.csv', index=False)

In [5]:
df.shape

(8572887, 3)

# User

In [24]:
user_dict = {value: key for (key, value) in enumerate(df.userId.unique())}


df['userId_Index'] = df.apply(lambda x: user_dict[x['userId']], axis=1)

In [25]:
df.head()

   userId  movieId  rating   timestamp  userId_Index
0       4        1     4.0  1113765937             0
1       4        2     4.0  1113767306             0
2       4        5     2.0  1123990453             0
3       4        6     4.5  1113767242             0
4       4       10     4.0  1113765995             0

# Movie

In [28]:
movie_dict = {value: key for (key, value) in enumerate(df.movieId.unique())}


df['movieId_Index'] = df.apply(lambda x: movie_dict[x['movieId']], axis=1)

In [29]:
df.head()

   userId  movieId  rating   timestamp  userId_Index  movieId_Index
0       4        1     4.0  1113765937             0              0
1       4        2     4.0  1113767306             0              1
2       4        5     2.0  1123990453             0              2
3       4        6     4.5  1113767242             0              3
4       4       10     4.0  1113765995             0              4

In [30]:
df.to_csv("MovieLensFilteredData/usermovieindex.csv", index=False)

# Create matrix

In [5]:
df = pd.read_csv("MovieLensFilteredData/usermovieindex.csv")

df = df.drop(columns=['userId', 'movieId', 'timestamp'])
df.head(1)

   rating  userId_Index  movieId_Index
0     4.0             0              0

In [6]:
users = df.userId_Index.unique()
items = df.movieId_Index.unique()


# get number of users and items for shape of matrix
users_count = len(users)
items_count = len(items)
matrix_shape = (users_count, items_count)
matrix_shape

(24158, 1343)

In [9]:
# create matrix of 0s
user_rating_matrix = np.zeros(shape=matrix_shape)
user_rating_matrix.shape

(24158, 1343)

In [10]:
for i,v in df.iterrows():

    user_row = int(v.userId_Index)
    item_row = int(v.movieId_Index)
    rating = v.rating

    user_rating_matrix[user_row][item_row] = rating

In [11]:
user_rating_matrix.shape

(24158, 1343)

In [12]:
np.save('Pickles/user_rating_matrix.npy', user_rating_matrix)

In [13]:
user_rating_matrix

array([[4. , 4. , 2. , ..., 0. , 0. , 0. ],
       [4. , 3. , 0. , ..., 0. , 0. , 0. ],
       [4. , 3. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [4. , 2.5, 0. , ..., 0. , 0. , 0. ],
       [5. , 4. , 0. , ..., 0. , 4.5, 0. ],
       [0. , 0. , 0. , ..., 0. , 3. , 0. ]])